@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");



* {
  box-sizing: border-box;
}

body {
  background-image: url(./img/newyork.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-height: 100vh;
}


aside {
  background-color: black;
  width: 200px;
  /* height: 100vh; */
}

aside a {
  color: white;
  text-decoration: none;
  margin: 1rem;
}